.text-sample{
      -fx-font-size: 16px;
      -fx-font-family: "Arial";
      -fx-font-weight: bold;
  }

.top-bar{
    -fx-background-color: A2D085;
}

.bar-buttons{
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-radius: 40px;
    -fx-background-radius: 40px;
    -fx-border-style: solid;
    -fx-border-width: 2px;
}

.bar-buttons:hover{
    -fx-cursor: hand;
    -fx-background-color: A2D085;
}

.search-bar{
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-border-color : black;
    -fx-border-width: 2px;
    -fx-border-style: solid;
}